
body{
    color: white;
    background-color:black ;
}

.tittles{
    border: dodgerblue;
    padding: 15px;
    text-align: center;
}

.recipes{
    background-color: white;
    color: black;
    border-style: dashed;
    margin: 5px 0px;
}

body.pizza{
    background-color: orange;
    color: black;
}
p.pizza{
    border-style: dotted;
    background-color: burlywood;
}
body.potatoes{
    background-color: rgb(236, 186, 20);
}